@page
@model ClassDemoKaffeWebApp.Pages.Kunder.EditBurgerModel
@{
}

<h1>Ændre en kunde</h1>


<form method="post">
    <div class="form-group>">
        <label>Burger pris</label> : @Model.pris<br />
        <input type="hidden" asp-for="@Model.pris" /><br />
        <label class="text text-danger">@Model.ErrorMessage</label><br />
        <br />


        <label>Burger navn</label><br />
        <input class="form-control" asp-for="@Model.Navn" /><br />
        <span asp-validation-for="@Model.Navn" class="text-danger"></span><br />


        <label>Burger størrelse</label><br />
        <input class="form-control" asp-for="@Model.Størrelse" /><br />

        @if (Model.Error)
        {
            <input type="submit" value="Ændre Ny Burger" class="btn btn-secondary" asp-page-handler="Change" disabled />
        }
        else
        {
            <input type="submit" value="Ændre Ny Burger" class="btn btn-success" asp-page-handler="Change" />
        }
        <input type="submit" value="Fortryd" class="btn btn-danger" asp-page-handler="Cancel" />
    </div>
</form>