@page
@model ClassDemoKaffeWebApp.Pages.Kunder.IndexModel
@{
}
@using ClassDemoKaffeWebApp.model;

<h1 class="jumbotron">Vis Alle Kunder</h1>

<form method="post">
    Vil du oprette en ny burger <input type="submit" value="Opret" class="btn btn-primary" />

</form>
<p></p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Pris</th>
            <th>Navn</th>
            <th>Størrelse</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Burger b in Model.burgers)
        {
            <tr>
                <td>@b.Pris</td>
                <td>@b.Navn</td>
                <td>@b.størrelse</td>
                <td><a asp-page="EditBurger" asp-route-nummer="@b.pris">Ændre</a></td>
                <td><a asp-page="DeleteBurger" asp-route-nummer="@b.pris">Slet</a></td>
            </tr>
        }
    </tbody>
</table>









